.fifthblock {
  display: block;
  width: 1440px;
  height: 500px;
  padding: 64px 165px 58px;
}

.fifthblock__text {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}

.fifthblock__text--title {
  width: 720px;
  font-size: 42px;
  padding-bottom: 64px;
  font-weight: bold;
}

.fifthblock__text--minititle {
  font-weight: bold;
  font-size: 24px;
  width: 255px;
  line-height: 34px;
  letter-spacing: -0.43px;
}

.fifthblock__text--small {
  font-size: 16px;
  width: 240px;
  line-height: 26px;
  letter-spacing: -0.29px;
}

.fifthblock__scheme--container {
  display: flex;
  gap: 30px;
  width: 1110px;
  height: 210px;
}

.fifthblock__scheme--container--part {
  padding-bottom: 16px;
  padding-top: 16px;
  width: 255px;
  height: 210px;
}

.fifthblock__icons--container {
  display: flex;
  width: 253px;
  height: 72px;
}

.fifthblock__text--container {
  margin-top: 16px;
  width: 255px;
  height: 90px;
}

.fifthblock__curves {
  align-self: center;
  margin-left: auto;
  width: 164px;
  height: 30px;
}
