main {
  background-color: #052825;
  min-height: 100vh;
  box-sizing: border-box;
}

.block {
  display: flex;
}

.block--first {
  background-color: #052825;
  width: 1440px;
  height: 840px;
  padding-top: 145px;
}

.container {
  display: flex;
  background-color: #052825;
  width: 1200px;
  height: 549px;
  color: white;
  margin: 0;
  padding-left: 120px;
}

.title-text {
  font-size: 64px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  color: #fff;
  width: 600px;
  line-height: 72px;
  letter-spacing: -1.16px;
}

.mid-text {
  font-size: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  width: 450px;
  line-height: 30px;
  letter-spacing: -0.36px;
  padding-top: 30px;
  margin-bottom: 42px;
}

.small-text {
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  width: 230px;
  height: 52px;
  letter-spacing: -0.29px;
}

.images {
  position: sticky;
  margin-left: auto;
  object-fit: cover;
}

.images--first {
  margin-left: auto;
  width: 460px;
  height: 549px;
}

.images--second {
  margin-left: auto;
  width: 320px;
  height: 420px;
}

.images--logoes {
  margin-top: auto;
}

.logobar {
  display: flex;
  left: 404px;
  top: 31px;
  gap: 20px;
}

.logobar--logo-list1 {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-top: 84px;
  margin: 0;
}

.logobar--logo-list2 {
}

.thirdBlock {
  width: 1440px;
  height: 600px;
  display: flex;
  align-items: center;
  padding-left: 127px;
}

.thirdBlock-Title {
  font-size: 42px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.76px;
}

.thirdBlock-UsualText {
  font-size: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}

.thirdBlock-TextForInt {
  font-size: 72px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -1.3px;
}

.thirdBlock-TextForSymbols {
  font-size: 52px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -0.94px;
}

.thirdBlock-TextBorder {
  width: 203px;
  height: 78px;
  overflow-wrap: break-word;
  display: inline-block;
  max-width: 200px;
  vertical-align: top;
}

.thirdBlock-MainContentElement {
  width: 540px;
  height: 378px;
}

.thirdBlock-MainContentElement__divlikeSpan {
  display: flex;
  gap: 40px;
  padding-top: 46px;
}

.thirdBlock-Smalltext {
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.29px;
}

.thirdBlock-Video {
  display: flex;
  width: 530px;
  height: 350px;
  margin-left: 130px;
  margin-top: -30px;
}
