.secondblock {
  width: 1440px;
  height: 600px;
  align-items: center;
  padding-left: 127px;
  display: flex;
  gap: 20px;
}

.secondblock__text {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}

.secondblock__text--Title {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.76px;
  padding-bottom: 8px;
}

.secondblock__text--UsualText {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}

.secondblock__text--TextForInt {
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -1.3px;
}

.secondblock__text--TextForSymbols {
  font-size: 52px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -0.94px;
}

.secondblock__text--Smalltext {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.29px;
}

.secondblock__TextBorder {
  width: 203px;
  height: 78px;
  overflow-wrap: break-word;
  display: inline-block;
  max-width: 200px;
  vertical-align: top;
}

.secondblock__MainContentElement {
  width: 540px;
  height: 378px;
}

.secondblock__MainContentElement--divlikeSpan {
  display: flex;
  gap: 40px;
  padding-top: 46px;
}

.secondblock__Video {
  display: flex;
  width: 530px;
  height: 350px;
  margin-left: 130px;
  margin-top: -30px;
}
